{% extends 'layout.html.twig' %}

{% set active = article.categorie.slug %}

{% block page_title %}
    {{ article.titre }}
{% endblock %}

{% block content %}

    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <!--post-detail-->
            <article class="post-detail">
                <h1>{{ article.titre }}</h1>
                <div class="meta-post">
                    <a href="{{ path('index_membre', {
                        'prenom': article.membre.prenom,
                        'nom': article.membre.nom
                    }) }}">
                        {{ article.membre.prenom~' '~article.membre.nom }}
                    </a>
                    <em></em>
                    <span>
                        {{ article.datecreation | date('d/m/Y') }}
                    </span>
                </div>

                <img alt="{{ article.titre }}"
                     src="{{ asset('images/product/'~article.featuredimage) }}" />

                {{ article.contenu }}

                <h5 class="text-right font-heading">
                    <strong>
                        {{ article.membre.prenom~' '~article.membre.nom }}
                    </strong>
                </h5>

            </article>

            <!--social-detail-->

            {% include 'components/_social-detail.html.twig' %}

            <!--related post-->

            {% if suggestions is not empty %}

                <div class="detail-caption">
                    <span>  SUGGESTIONS</span>
                </div>
                <section class="spotlight-thumbs spotlight-thumbs-related">
                    <div class="row">
                        {% for article in suggestions %}

                            {% include 'components/_suggestions.html.twig' %}

                        {% endfor %}
                    </div>
                </section>

            {% endif %}

        </div>

        {#{% include 'components/_sidebar.html.twig' %}#}
        {{ render(controller('App\\Controller\\TechNews\\FrontController::sidebar')) }}

    </div>

{% endblock %}